<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Category</title>
</head>
<body>
    <p>Name: <%= item.name %></p>
    <p>Quantity: <%= item.quantity %></p>
    <p>Price: <%= item.price %></p>
    <p>Description: <%= item.description %></p>
    <p>Created At: <%= item.created_at %></p>
    <p>Updated At: <%= item.updated_at %></p>
    <p>Category: <%= category %></p>
    <a href="/item">Back</a>
</body>
</html>